div.DraftEditor-root {
  min-height: 400px;
  height: auto;
  width: 100%;
}

.editor-area {
  background-color: #fff;
  padding: 8px;
}

.document-editor {
  border-radius: 5px;
  min-height: 400px;
  background-color: #ddd;
  width: 50%;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: auto;
  min-height: 400px;
}

.document-editor .page-header, .document-editor .page-footer {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6666666b;
  width: 100%;
}

.btn {
  background: none;
  border: none;
  padding: 8px;
  margin: 4px;
  color: "blue";
  border-color: none;
  text-decoration: underline;
  cursor: pointer;
}